
body{
    justify-content: center;
    background-color: #BBBBBB;

}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 40px;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
}

