.
/*https://coco-factory.jp/ugokuweb/move02/5-4/
↑参考資料*/

@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #000000;
}

a{
    color: #000000;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
    height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;

}

#wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
}
