.rooms{
    width: 80%;
    margin: 0 auto;
}
.titles{
    background-color: white;
    border: 2px black solid;
    border-radius: 10px 10px 0 0 ;
    float: left;
    margin: 5px 0 3px 0;
    height: 30px;
    width: calc(100%/5);
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;

}
.cont{
    background: #ffe4e1;
    border: 2px black solid;
    border-radius: 0 0 10px 10px ;
    float: left;
    margin: 0 0 20px 0;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    line-height:250%;
}
.day{
    float: left;
    margin: 7px 0 3px 5px;
    height: 30px;
    font-size: 20px;
}
.test{
    margin: 5px;
}

.dialog_style{
    background:none;
    border-style:none;
    width:auto;
    height:auto;
    top:0;
    margin-left:0;
}
.back{
    content: "";
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: rgba(221, 221, 221, .4);
    /*position: absolute;*/
    position: fixed;
    min-height:100vh;
}
.back2{
    content: "";
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: rgba(221, 221, 221, .4);
    /*position: absolute;*/
    position: fixed;
    z-index: 1;
    min-height:100vh;
}
.nnn{
    background:white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    text-align:center;
    height:200px;
    margin-top:auto;
    margin-bottom:auto;
    margin:0 auto;
    width:100%;
    width:250px;
    margin-top:15%;
    position: relative;
}

.nnn2{
    background:white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    text-align:center;
    height:200px;
    margin-top:auto;
    margin-bottom:auto;
    margin:0 auto;
    width:100%;
    width:250px;
    margin-top:15%;
    position: relative;
    z-index: 1;
}

.p1{
    padding-top: 10px;
    font-size: 20px;
}
.p2{
    margin-top: 40px;
}
.button1{
    margin-top: 50px;
}
.popb1{
    width: 90px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border:none;
}
.under{
    margin-bottom:5px;
}
.p3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.p4{
    margin-top: 5px;
}

body{
    background-color: #BBBBBB;
}
/*https://coco-factory.jp/ugokuweb/move02/5-4/
↑参考資料*/

@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #000000;
}

a{
    color: #000000;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
    height: 100%;/*高さを100%にして描画エリアをとる*/
}

#particles-js{
    position:fixed;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;

}

#wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
}
