body{
    background:rgba(0,0,0,0.1);
}
/*votesum.blade*/
.syuukei{
    text-align: center;
    font-size: 50px;
}

.ct{
    margin-left: 0;
    padding-left: 0;
}
#tit{
    margin-left: 49%;
    margin-right: 0;
}


/*vote.blade*/
.dai{
    text-align: center;
    font-size: 50px;
}
.san{
    margin-left:20%;
    width:30%;
    float:left;
    text-align:center;
    background:rgba(0,0,0,0.2);
}
.hite{
    margin-right:20%;
    width:30%;
    float:left;
    text-align:center;
    background:rgba(0,0,0,0.3);
}
.kekka{
    margin-top:200px;
    text-align:center;
    font-size: 50px;
    color: rgba(255,0,0,0.7);
}


/*vote2.blade*/
.now{
    text-align: center;
    font-size: 50px;
}

.jst-hours{
    float: left;
    display: none;
}
.jst-minutes{
    float: left;
    display: none;
}
#ti{
    display: none;
}
.jst-seconds{
    float: left;
}
#tit2{
    margin-left: 49%;
    margin-right: 0;
}
.muc{
    text-align: center;
}

.resultbutton-center{
    display: flex;
    justify-content: center;
}

.backhome-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 55px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #1976d2;
}

.backhome-button:hover {
    opacity: .7;
}

.vote-position{
    font-size: 1.5em;
    margin: 10px;
}

.vote-cast{
    font-weight: bold;
    font-size: 1.8em;
    margin: 15px;
}
